<div ng-controller="homeController">
    <h2>
        AngularJs multiple select autocomplete field
    </h2>
    <hr/>
    <div class="mrg-top50">
        <label>1. Autocomplete field - options list as array of objects</label>
        <multiple-autocomplete ng-model="skills"
                               object-property="name"
                               before-select-item="selectItemCallback"
                               after-select-item="selectItemCallback"
                               before-remove-item="removeItemCallback"
                               after-remove-item="removeItemCallback"
                               suggestions-arr="skillsList">
        </multiple-autocomplete>
        <label>Selected Model Value :<br/></label>{{skills}}
        <br/>
        <label><u>Event Listeners</u></label><br/>
        <span>Selected Item : {{selectedItem}}</span><br/>
        <span>Removed Item : {{removedItem}}</span>
    </div>

    <div class="mrg-top50">
        <label>2. Autocomplete field - options as list of strings</label>
        <multiple-autocomplete ng-model="skills1"
                               suggestions-arr="skillsList1">
        </multiple-autocomplete>
        <label>Selected Model Value :<br/></label>{{skills1}}
    </div>

    <div class="mrg-top50">
        <form name="multipleSelectForm" novalidate>
            <div ng-class="{'has-error' : multipleSelectForm.multipleSelect.$invalid && multipleSelectForm.multipleSelect.$dirty, 'has-success' : !multipleSelectForm.multipleSelect.$invalid && multipleSelectForm.multipleSelect.$dirty}">
                <label>3. Making it Required field in a Form</label>
                <multiple-autocomplete ng-model="skills2" name="multipleSelect" required="true"
                                       suggestions-arr="skillsList1">
                </multiple-autocomplete>
                <span ng-show="multipleSelectForm.multipleSelect.$invalid && multipleSelectForm.multipleSelect.$dirty" class="ng-hide">
                    <p class="error-msg" ng-show="multipleSelectForm.multipleSelect.$error.required">Please select something from multiple select field</p>
                </span>
            </div>
            <br/>
            <button type="button" class="btn btn-default" ng-click="onSubmit()">Submit Form</button>
        </form>
    </div>

    <div class="mrg-top50">
        <label>4. Fetching options list from 3rd party api/url</label>
        <multiple-autocomplete ng-model="skillsFromApi"
                               css-class="someClass"
                               api-url="{{apiPath}}"
                               suggestions-arr="">
        </multiple-autocomplete>
        <label>Selected Model Value :<br/></label>{{skillsFromApi}}
    </div>
</div>